/* Base Styles
--------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #484848;
	padding: 20px 0;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 2.857em;
	font-weight: 300;
	line-height: 1.2em;
	color: #33c2a6;
	margin-top: 0;
	text-transform: uppercase;
}

a {
	color: #484848;
	display: block;
}

a:focus, 
a:hover {
    color: #484848;
    text-decoration: none;
}


/* Site-header
--------------------------------------------- */
.site-header {
	text-align: right;
}

.site-header h1 {
	margin-bottom: 30px;
}

.nav {
	text-align: left;
	margin-left: 10px;
}

.page-links a {
	display: inline;
}

.disabled {
	pointer-events: none;
	color: #484848;
	background-color: #ddd !important;
}

.search {
	margin-bottom: 15px;
}

.form-control {
    height: 42px;
    padding: 0.5em 1em;
	font-size: 1.1em;
	line-height: 1;
    border: 1px solid #ccc;
    box-shadow: none;
	border-radius: 4px;
	margin: -4px 0 0;
}

@media (max-width: 767px) {
	.form-control {
		margin: 10px 0;
	}
}

.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: transparent;
}


.site-header a,
button {
	height: 42px;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #484848;
	font-size: 1.1em;
	line-height: 1.25;
	font-weight: 300;
	background: transparent;
	display: inline-block;
}

.site-header a:hover,
.site-header a:focus {
    text-decoration: none;
    outline: none;
}

.page-links a:hover,
button:hover {
    background-color: #484848;
    color: #fff;
}

@media (max-width: 991px) and (min-width: 768px) {
	button {
		margin-top: 10px;
	}
}

.page-links a {
	margin-top: 0;
}

.nav .home {
	background-color: #484848;
    color: #fff;
}

.nav .home:hover {
	color: #484848;
	background: transparent;
}

@media (max-width: 767px) {
	.nav, .search {
		text-align: center;
	}
}


/* Content
--------------------------------------------- */
.movie {
	border: 1px solid #cacaca;
	margin: 1.428em 0;
	border-radius: 10px;
	padding: 2em;
}

@media (min-width: 768px) {
	.movie > .row {
		display: flex;
	}

	.movie > .row > div:nth-child(3) {
		border-left: 1px dashed #b5b5b5;
	}
}

.movie .description {
	font-weight: 400;
	color: #777;
}

.movie .url {
	font-style: italic;
	background-color: #f1f1f1;
	font-size: 0.857em;
	padding: 0.25em 0.583em;
	border-radius: 3px;
	margin-top: 20px;
	display: inline-block;
}

.poster {
	text-align: center;
}

.movie-poster {
	text-align: center;
}

.poster img,
.movie-poster img {
	max-width: 100%;
}

.header-text p {
	margin-bottom: 0;
}

dt, 
dd {
	float: left;
	color: #777;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 0.230em;
}

dt {
	clear: both;
	width: 25%;
}

dd {
	width: 75%;
}

.followers {
	text-align: center;
	padding: 1.071em 0;
}

.inner-header .followers {
	border-left: none;
}

.followers .value {
	font-size: 3.571em;
	line-height: 1.3;
	font-weight: 300;
	color: #fb831e;
	margin-bottom: 0;
}

.followers .title {
	font-size: 1.142em;
	font-weight: 400;
	line-height: 1.2;
	color: #777;
	text-transform: uppercase;
}

@media (max-width: 991px) and (min-width: 768px) {
	.followers .value {
		font-size: 2.857em;
	}
}

@media (max-width: 767px) {
	.movie {
		padding: 2em;
	}
	
	.movie .row:first-child {
    	margin-bottom: 15px;
	}
	
	.header-text {
		width: 100%;
		text-align: center;
		margin-top: 1.071em;
	}

	.header-text h2 {
		margin-bottom: 20px;
	}
	
	h2 {
		font-size: 2em;
		word-wrap: break-word;
	}
	
	.followers {
		border-left: none;
		border-top: 1px dashed #b5b5b5;
		margin-top: 2em;
	}
		
	.followers .value {
		font-size: 2.21em;
	}
	
	dt {
		width: 100%;
		font-weight: 700;
	}
	
	dd {
		width: 100%;
	}
	
	.seperator {
		display: none;
	}
}


/* Footer
--------------------------------------------- */
.site-footer {
	padding: 1em 0;
	text-align: center;
	font-size: 14px;
}