<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">        
    </head>

    <body>
        <div class="container">
            <div id="movie-details">
                <h1 class="text-center"></h1>
                <div class="row">
                    <div class="col-xs-5">
                        <img class="movie-poster" src="<%= baseUrl %><%= movie.poster_path %>" />
                    </div>
                    <div class="col-xs-7">
                        <table class="table">
                            <% for (key in movie) { %>
                            <tr>
                                <td><%= key %></td>
                                <td><%= movie[key] %></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>    
                </div>

                <div class="row">
                    <div class=buttons>
                        <a class="btn btn-primary" href=<% /* link to main page */ %>>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>